body {
    font-family: Segoe UI, Arial, sans-serif;
    margin: 0;
    background:
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("campus-bg.jpg");
    background-size: cover;
}

/* HEADER */
.top-bar {
    background: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    color: #A6192E;
    font-size: 22px;
}

.top-bar img {
    height: 60px;
}

/* MAIN */
.main-wrapper {
    width: 75%;
    margin: 30px auto;
}

.page-title {
    color: white;
    text-align: center;
    font-size: 26px;
    margin-bottom: 25px;
}

.form-card {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

h2 {
    color: #A6192E;
    border-bottom: 2px solid #A6192E;
    padding-bottom: 6px;
}

label {
    display: block;
    font-weight: 600;
    margin-top: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
}

.radio-set input {
    width: auto;
    margin-right: 6px;
}

.contact-box {
    display: flex;
    gap: 10px;
}

.submit-btn {
    background: #A6192E;
    color: white;
    padding: 12px 30px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #8e1427;
}

small {
    color: red;
}

.review-box {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}

.review-box input {
    width: auto;
    margin-top: 3px;
}

.review-label {
    margin-top: 0;
    font-weight: 500;
    line-height: 1.5;
}

.status-link {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #A6192E;
    text-decoration: none;
    font-weight: 600;
}

.status-link:hover {
    text-decoration: underline;
}

label.required::after {
    content: " *";
    color: rgba(255, 0, 0, 0.653);
    font-weight: bold;
}
